[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = off
ktlint_standard_property-naming = disabled
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_allow_trailing_comma = false
indent_size = 4

