---
import Base from "../layouts/base.astro";
import Nav from "../components/nav.astro";
import Hero from "../components/hero.astro";
import Pillars from "../components/pillars.astro";
import Showcase from "../components/showcase.astro";
import Faq from "../components/faq.astro";
import Cta from "../components/cta.astro";
import Footer from "../components/footer.astro";
---

<Base>
  <Nav />
  <div class="land-shell">
    <Hero />
    <Pillars />
    <Showcase />
    <Faq />
    <Cta />
    <Footer />
  </div>
</Base>
