---
---

<div class="logobar">
  <div class="logobar-label">construído junto com<br />estudantes de</div>
  <div class="logobar-marks">
    <span><em>UEFS</em></span>
    <span class="mono">CEET-FS</span>
    <span>Computação</span>
    <span class="mono">Engenharia</span>
    <span>Direito</span>
    <span class="mono">Letras</span>
    <span>Medicina</span>
  </div>
</div>
