name: Android General Build CI

on:
  push:
    branches:
      - '*'
      - '!main'
      - '!development'
      - '!next'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Use Mocked Google Services
      run: mv app/google-services-mock.json app/google-services.json

    - name: Use Mocked Signature
      run: mv sign_mock sign.jks
      
    - name: Dependencies
      run: ./gradlew dependencies
    
    - name: Lint & JVM Checks
      run: ./gradlew check
    
    - name: Build Release App
      run: ./gradlew bundleRelease
    
    - name: Upload result for job
      uses: actions/upload-artifact@v1
      with:
        name: bundle
        path: app/build/outputs/bundle/release/app-release.aab
